html{
  height: 100%
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

body {
  padding-top: 0.5rem;
  margin: auto;
  place-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: #dedfe2;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.topButton {
  border-radius: 10px;
  height: 30px;
  width: 50px;
  background-color: lightskyblue;
  bottom: 70px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;

}

.floating-button {
  position: fixed;
  bottom: 70px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #6366f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
